[submodule "vim-seek"]
	path = vim-seek
	url = https://github.com/goldfeld/vim-seek.git
[submodule "rainbow_parentheses"]
	path = rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
